html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: 10px;
}

input {
  vertical-align: middle;
}

a {
  font-size: 1.5em;

}

a.navbar-brand {
  font-size: 2em;
  margin-left: 0.3em;
}